<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Sanitop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Miguel Regedor"/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <%= stylesheet_link_tag 'default' %>
  <% javascript_include_tag :defaults %>
  <%= javascript_include_tag 'rounded_corners' %>
  <script language="javascript">AC_FL_RunContent = 0;</script>
  <%= javascript_include_tag 'AC_RunActiveContent' %>

</head>

<body>
  <div id="main" class="panel_main">
    <div class="bg_top"/>
    </div>

    <div class="bg_middle">
      <div class="panel_logo">
        <img src="/images/logo.png" alt="Sanitop logo"/>
      </div>
      <div class="panel_contents">
	  <%if flash[:notice] %>
	    <div id='notice' class="notice"><%= flash[:notice] %></div> 
	  <% end %>
	<%= yield  %>
      </div>
    </div>

    <div class="bg_footer">
      Wep Application developed by
      <%= link_to 'Miguel Regedor', 'http://regedor.com/webdesign/'%>.<br/>
    </div>    
  </div>
</body>

</html>

  

